<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.custom_edittext">

    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application>
        <activity
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:name="kiit.tanmay.MultipurposeTextView.Util.PermissionActivity">
        </activity>
    </application>

</manifest>